* {
  margin: 0;
  padding: 0;
  
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.h-container {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  size: 400px;
}
h1 {
  font-size: 45px;
  font-weight: 900;
  color: white;
}
img {
}
